@font-face {
    font-family: 'Title';
    src: url('./font/Cedarville_Cursive/CedarvilleCursive-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Body';
    src: url('./font/Nunito/static/Nunito-Medium.ttf') format('truetype'),
    url('./font/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importance smooth */
html {
    scroll-behavior: smooth;
/* Webpage background image */
}
body {
    background-image: url('images/background.jpg');
    background-size: 2000px auto;
    background-repeat: no-repeat;
    width:100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
/* Nav bar and title */
header{
    background-color: rgba(104, 44, 44, 0.466);
    padding: 2px;
    position: sticky;
    top: 0;
}
h1{
    font-family: 'Title';
    text-align: center;
    font-size: 3rem;
    color: white;
}
nav{
    display: flex;
    justify-content: center;

}
nav > button{
    font-family: 'Body';
    font-size: 1.5rem;
    border: 0;
    background: none;
    padding: 1rem 5rem;
    color: rgba(255, 255, 255, 0.74);
}
nav > button:hover{
    background-color: rgba(97, 91, 91, 0.5);
}

/* Homepage */
div#content{
    background-color:rgba(104, 44, 44, 0.466);
    font-family: 'Title';
    color:white;
    font-size: 1.25rem;
    height: calc(100vh - 159px);
    padding: 0 2rem;
}
.homeHeader{
    font-size: 1.5rem;
}

.box{
    display: flex;
}
.box > .menu{
    font-family: 'Body';
    font-size: 1.25rem;
    border: 0;
    background: none;
    margin-left: auto;
    color:white;
    width:120px;
    height: 50px;
}
.box > .menu:hover{
    background-color: rgba(185, 151, 87, 0.507);
    border-radius: 8px;
}

/*Menu page*/
 .menuHeader {
    text-align: center;
    font-size: 2rem;
    color: rgb(213, 216, 38); 
}
.menuDescription{
    margin-bottom: 0.5rem;
}

/*About page*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about > img {
    width: 400px;
    margin: 1.25rem 0; /* Add some spacing between the image and text */
}